@import url("./reset.css");

#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  padding: 60px;
  gap: 12px;
  margin: auto; 
  text-align: center; 
  margin-top: 20-px;
  justify-content: center;
}
#rooot {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  padding: 56px;
  gap: 12px;
  margin: auto; 
  text-align: center; 
  margin-top: 20-px;
}


body {
  margin: 0;
  padding: 0;
}

.item-wrapper{
  background-color: #fffdfd;
  width: 250px; /*250*/
  height: 290px; /*270*/
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.item-wrapper img{ /*imagem dentro da div item-wrapper*/
  width: 190px;
  height: 250;
  border-radius: 3px;
}

.div-itens{
  padding-bottom: 10px;
  font-family: 'Times New Roman', cursive; /*Fonte*/
  font-weight: bold; /*Espessura*/
  font-size: 11pt; /*tamanho*/
}

.item-wrapper:hover {
  transform: rotate3d("45deg");
  transition: all 5s;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 56px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* position: fixed;*/ /*posiciona na tela e não sai do lugar, vem com top(distância em pixels do topo) e left(da esquerda pro meio)*/ 
  /* margin-top: 0px; */
  margin-top: 243px;
}

.nome-loja {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 56px;
  width: 100%;
  background-color: orange;
  /* background-color: rgba(0, 0, 0, 0.8); */
  position: fixed;
  top: 0px;
  font-family: 'Times New Roman', cursive; /*Fonte*/
  font-weight: bold; /*Espessura*/
  font-size: 20pt; /*tamanho*/
  z-index: 1;
}

.imagem-promocao {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 56px;
  width: 100%;
  background-color: pink;
  /* background-color: rgba(0, 0, 0, 0.8); */
  position: static;
  top: 100px;
  margin-top:300px;
}

.nova-receita > input {
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  height: 200px;
  width: 400px;
  border-radius: 8px;
  position: static;
  top: 100px;
  margin-top:300px;
  /* border-color: orange; */
}

.nova-receita > button {
  border: none;
  background: orangered;
  color: black;
  border-radius: 8px;
  width: 130px;
  height: 30px;
}

.filter-wrapper > button {
  border: none;
  background: rgb(61, 61, 190);
  color: white;
  border-radius: 8px;
  width: 80px;
  height: 24px;
}

.nome-loja > a > button {
  border: none;
  background: orangered;
  color: black;
  border-radius: 8px;
  width: 130px;
  height: 30px;
}

.buscar {
  border: none;
  background: white;
  color: black;
  border-radius: 8px;
  width: 160px;
  height: 24px;
}
