@import url("./reset.css");

body {
  margin: 0;
  padding: 0;
}

.nome-loja {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 56px;
  width: 100%;
  background-color: orange;
  /* background-color: rgba(0, 0, 0, 0.8); */
  position: fixed;
  top: 0px;
  font-family: 'Times New Roman', cursive; /*Fonte*/
  font-weight: bold; /*Espessura*/
  font-size: 20pt; /*tamanho*/
  z-index: 1;
}

.nova-receita > input {
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  height: 200px;
  width: 400px;
  border-radius: 8px;
  position: static;
  top: 100px;
  margin-top:300px;
  /* border-color: orange; */
}

.nova-receita > button {
  border: none;
  background: orangered;
  color: black;
  border-radius: 8px;
  width: 130px;
  height: 30px;
}

.nome-loja > a > button {
  border: none;
  background: orangered;
  color: black;
  border-radius: 8px;
  width: 130px;
  height: 30px;
}

.buscar {
  border: none;
  background: white;
  color: black;
  border-radius: 8px;
  width: 280px;
  height: 24px;
}

.pesquisa {
  border: none;
  background: orangered;
  color: black;
  border-radius: 8px;
  width: 130px;
  height: 30px;
}

.listar-receitas{
  display: grid;
  flex-direction: row;
  padding: 0 30px;
  background: #fffdd0;
  width: 96%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 230px);
  padding-top: 80px;
  padding-bottom: 80px;
}

.listar-itens{
  display: grid;
  /* padding: 0 12px; */
  background: write;
  width: 230px;
  /* height: 400px; */
  height: 200px;
  padding: 50px;
}

.imagem{
  display: flex;
  flex-direction: column;
  background: write;
  /* width: 230px; */
  width: 200px;
  height: 200px;
}
